# macOS
.DS_Store

# MATLAB
*.asv
*.mat

# R
.Rhistory
.RData

# Logs
*.log

# Raw data (ignore contents, keep folder)
data_raw/*
!data_raw/.gitkeep

# Processed data (ignore contents, keep folder)
data_processed/*
!data_processed/.gitkeep
!data_processed/comext_hs72_hs76_shares_2019.csv
!data_processed/oecd_c24A_c24B_output_shares_2014.csv
!data_processed/metals_split_params_2014.csv

# Outputs
output/*
!output/.gitkeep
